[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
starlette = "*"
pydantic = "*"
jinja2 = "*"
aiofiles = "*"
aiosqlite = "*"
tortoise-orm = "*"
pillow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
spacy = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
server = "uvicorn main:app --reload"
